# Diretórios de sistema
/.idea
/.vscode
/node_modules
/vendor
/public/storage

# Arquivos de ambiente
.env
.env.*.backup

# Logs e caches
/storage/*.key
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
*.log
*.cache

# Banco de dados local
Homestead.yaml
Homestead.json
/.phpunit.result.cache

# Arquivos de compilação
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map

# Arquivos específicos do Composer
composer.lock

# Dependências do NPM/Yarn
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Arquivos do Laravel Mix/Webpack
/.sass-cache
/.cache
/.nuxt
.DS_Store
Thumbs.db

# Outras configurações locais
*.iml
*.swp
*.swo
*.bak
*.tmp
