version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./:/var/www/html
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./.docker/nginx/fastcgi-php.conf:/etc/nginx/snippets/fastcgi-php.conf
    networks:
      - dockernet
    depends_on:
      - php
      - db

  php:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
    volumes:
      - ./:/var/www/html
      - ./.docker/php/php.ini:/usr/local/etc/php/conf.d/custom.ini
    expose:
      - "9000"
    networks:
      - dockernet

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: default
      MARIADB_DATABASE: default
    volumes:
      - ./.docker/db-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - dockernet

networks:
  dockernet:

volumes:
  db-data:
